* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.user__card {
    width: 400px;
    display: inline-block;
    border-radius: 15px;
    overflow: hidden;
}

.user__name {
    text-align: center;
    background-color: #E6EBEE;
    padding: 20px 90px;
}

.user__name h1 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.user__info {
    background-color: #393C45;
    padding: 30px;
    color:#fff;
}

.user__text,
.user__statistic {
    margin-bottom: 20px;
}

.user__image-wrapper {
    margin: 0 auto 20px auto;
    width: 150px;
    height: 150px;  
}

.user__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid blue;
    vertical-align: top;
    object-fit: cover;
}

.user__text {
    text-align: justify;
}

.user__statistic {
    text-align: center;
}

.user__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
}

.user__item:last-child {
    margin-right: 0;
}

.user__buttons {
    text-align: center;
}

.user__buttons button {
    padding: 10px 0px;
    border: none;
    border-radius: 25px;
    margin-right: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 150px;
}

.user__buttons button:last-child {
    margin-right: 0px;
}

.user__follow__button {
    background-color: #4169E2;
}